{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  plugins: [
    "prettier"
  ],
  "env": {
    browser: true
  },
  "rules": {
    "import/extensions": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ['node_modules', 'src'],
      },
    },
  },
}
